* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  /*--primary: #2A7AE4;*/
  --primary: #FF5500;
  --black: #000000;
  --blackBackground: #141414;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  background-color: var(--blackBackground);
  color: var(--white);
  /*100vh é 100% da tela que está abrindo o site. Neste caso é subtraido o valor do menu.*/
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}